<h1>Listing projects</h1>

<table>
  

<% @projects.each do |project| %>
  <tr class = "<%= cycle('list-line-odd', 'list-line-even') %>">
    <td>
    	<dl>
    		<dt><%=h project.name %> </dt>
    		<dd><%=h truncate(project.description.gsub(/<.*?>/,''), :length =>80) %></dd>
    	</dl>
    </td>
    <td>
    	<%= link_to 'Show', project %><br/>
    	<%= link_to 'Edit', edit_project_path(project) %><br/>
    	<%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
