<h1>Listing configuration_servers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Server name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @configuration_servers.each do |configuration_server| %>
  <tr>
    <td><%= configuration_server.name %></td>
    <td><%= configuration_server.server_name %></td>
    <td><%= link_to 'Show', cnf_servers_path %></td>
    <td><%= link_to 'Edit', edit_cnf_server_path(configuration_server) %></td>
    <td><%= link_to 'Destroy', cnf_servers_path, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Server', new_cnf_server_path %>
